

/*@font-face {*/
/*    font-family: "HelveticaNeueMedium";*/
/*    src: url("./fonts/HelveticaNeueMed.eot");*/
/*    src: url("./fonts/HelveticaNeueMed.eot?#iefix") format("embedded-opentype"),*/
/*    url("./fonts/HelveticaNeueMed.otf") format("opentype"),*/
/*    url("./fonts/HelveticaNeueMed.svg") format("svg"),*/
/*    url("./fonts/HelveticaNeueMed.ttf") format("truetype"),*/
/*    url("./fonts/HelveticaNeueMed.woff") format("woff"),*/
/*    url("./fonts/HelveticaNeueMed.woff2") format("woff2");*/
/*    font-weight: 200;*/
/*    font-style: normal;*/
/*}*/

* {
    font-family: "HelveticaNeueMedium", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: white;
    border-bottom: 1px solid #F0B7E3;
    margin-bottom: 25px;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 10px;
    width: 59%;
    color: #5A1094;
}
.header-text {
    display: flex;
    color: #5A1094;
}
.header-img span {
    color: #C90EA5;
}
.header-text span {
    padding-left: 15px;
}
body {
    margin: 0;
     background: #E6E9F0;
 }
.container {
    background: linear-gradient(180deg, #FFFFFF 0%, #FEFEFE 100%);
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    width: 60%;
    min-height: 85vh;
    margin: 0 auto;
    display: flex;
    position: relative;
    min-width: 700px;
}
form {
    width: 100%;
    position: relative;

}

.small-container {
    width: 50%;
}
.group {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}
.shipping-text{
    color: #5A1094;
    font-size: 26px;
    line-height: 31px;
}
.shipping-recipient {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
}

.full-name {
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}
.daytime {
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 50%;
    padding: 10px 10px;
}
.shipping-daytime {
    display: flex;
}
.daytime-text {
    font-size: 13px;
    line-height: 12px;
    color: #777879;
    width: 33%;
    margin-left: 15px;
    margin-top: 14px;
}
.address {

    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}
.code {

    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}
.shipping-city {
    position: relative;
    margin-top: 20px;
}
.city {
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}
.shape {
position: absolute;
    right: 3%;
    bottom: 9px;
}
.shipping-country {
    display: flex;
}
.ship-zip {
    margin-left: 47px;
}
.ship-zip .input-message {
    position: absolute;
    top: -48px;
    left: -35px;
    background: #FFFFFF;
    border: 1px solid rgba(222, 220, 220, 0.695907);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    font-family: "HelveticaNeueMedium";
    font-size: 13px;
    line-height: 16px;
    color: #D0021B;
    border-radius: 5px;
    padding: 7px 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.ship-zip2 {
    margin-left: 47px;
}
.ship-zip2 .input-message {
    position: absolute;
    top: -47px;
    left: 150px;
    background: #FFFFFF;
    border: 1px solid rgba(222, 220, 220, 0.695907);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    font-family: "HelveticaNeueMedium";
    font-size: 13px;
    line-height: 16px;
    color: #D0021B;
    border-radius: 5px;
    padding: 7px 12px;
    opacity: 0;
    visibility: hidden;
}

.country {
    border: 1px solid #DEDCDC;
    background-image: url("img/Path38.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 8px top 15px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 55%;
    padding: 10px 10px;
    -webkit-appearance: none;
}
.zip {
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}
.shipping-continue {

    margin-top: 20px;
    background: rgba(90, 16, 148, 0.8);
    border: 1px solid rgba(67, 28, 93, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    width: 50%;
    padding:10px;
}

.billing-continue {

    margin-top: 20px;
    background: rgba(90, 16, 148, 0.8);
    border: 1px solid rgba(67, 28, 93, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    width: 50%;
    padding:10px;
}

.magazine {
    width: 50%;
    background: #F2F3F7;
    min-width: 350px;
}

.summary {
    display: flex;
    margin: 15px;
    justify-content: space-between;
}
.chelsea {
    margin: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1E1E4;
}
.ch-img-img{

    background: #F3F3F3;
    border: 1px solid #E3E3E3;
    border-radius: 1px;
    width: 50px;
    padding: 1px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.ch-img-img img {
    width: 100%;
    display: block;
}

.ch-img {
    display: flex;
    justify-content: flex-start;


}
.chelsea-img {
    width: 100%;
    position: relative;
}
.item-desc {
    font-size: 12px;
    color: #777879;

}
.quant {
    font-size: 10px;
    line-height: 12px;
    color: #2B2525;
    position: absolute;
    width: 20%;
    left: 55px;
    top: 35%;
}
.chelsea-price {
    font-size: 12px;
    line-height: 11px;
    color: #777879;
}
.quant2 {
    font-size: 10px;
    line-height: 12px;
    color: #2B2525;
    position: absolute;
    width: 50%;
    left: 21%;
    top: 35%;
}

.item-desc2 {
    font-size: 12px;
    line-height: 11px;
    color: #777879;
}
.ch-img-img2{

    background: #F3F3F3;
    border: 1px solid #E3E3E3;
    border-radius: 1px;
    width: 50px;
    padding: 1px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.ch-img-img3{

    background: #F3F3F3;
    border: 1px solid #E3E3E3;
    border-radius: 1px;
    width: 50px;
    padding: 1px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.ch-img2 {
    display: flex;
    width: 100%;
}
.order-name {
    font-size: 12px;
    color: #777879;
}
.order-color {
    font-size: 10px;
    line-height: 13px;
    color: #2B2525;
}
.order-quantity {
    font-size: 10px;
    line-height: 13px;
    color: #2B2525;
}

.general {
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E1E1E4;
}
.general span {
    font-size: 12px;
    line-height: 11px;
    color: #777879;
    margin: 5px;
}
.subtotal {
    display: flex;
    justify-content: space-between;
}
.shipping-general {
    display: flex;
    justify-content: space-between;
}
.taxes {
    display: flex;
    justify-content: space-between;
}
.total {
    display: flex;
    justify-content: space-between;
    margin: 18px;

}
.total-span {
    margin-top: 7px;
    font-size: 14px;
    line-height: 13px;
    color: #431C5D;
    font-weight: bold;
}
.summary-text {
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
}
.summary-a {
    font-size: 13px;
    line-height: 14px;
    color: #979797;
}


.billing-text {
   display: flex;
    justify-content: space-between;
}
.billing-text-t {

    color: #5A1094;
    font-size: 26px;
    line-height: 31px;
}
.billing-a {
    border: none;
    background: transparent;
    margin-left: 15px;
    margin-top: 9px;
    font-size: 12px;
    line-height: 14px;
    color: #5A1094;
    text-decoration: underline;
    cursor: pointer;
}
.billing-contact {

    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
}
.full-name-billing {

    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}
.billing-em {

    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}
.billing-recipient {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
}
.billing-city {

    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}

.payment-text-t {

    color: #5A1094;
    font-size: 26px;
    line-height: 31px;
}
.payment-contact {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;

}
.full-name-payment {

    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 10px 10px;
}
.payment-cardholder-name {

    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
}
.payment-recipient {

    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
}
.payment-date {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
    color: #5A1094;
}
.payment-dates {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.date {
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 70%;
    padding: 10px 10px;
}
.sec-code {
    margin-left: 0px;
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #DEDCDC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 70%;
    padding: 10px 10px;
}
.payment-button {

    margin-top: 30px;
    background: rgba(90, 16, 148, 0.8);
    border: 1px solid rgba(67, 28, 93, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    width: 37%;
    padding:10px;
}
.lock-text {
    font-size: 15px;
    line-height: 18px;
    color: #6B6B6B;
}
.country-option {
    color: #6B6B6B;
}


.thanks {
    font-size: 26px;
    color: #5A1094;
    margin-bottom: 18px;
}
.ordered {
    width: 80%;
    font-weight: bold;
    font-size: 16px;
    color: #2B2525;
    margin-bottom: 18px;
}
.receive {
    font-size: 16px;
    color: #2B2525;
    width: 80%;
    margin-bottom: 18px;
}
.a1 {
    color: #5A1094;
    margin-bottom: 18px;
}
.estimated {
    font-size: 16px;
    color: #2B2525;
    margin-bottom: 18px;

}
.days {
    font-size: 16px;
    color: #2B2525;
    font-weight: bold;
    margin-bottom: 18px;
}
.a2 {
    font-size: 15px;
    color: #5A1094;
    background: white;
    font-weight: bold;
    border: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #5A1094;
    margin-bottom: 18px;
}

.billing-info {
    position: absolute;
    top: 50px;
    margin-bottom: 18px;

}
.payment-info {
    position: absolute;
    top: 50px;
    margin-bottom: 18px;

}

.hidden {
    opacity: 0;
    visibility: hidden;
}
.shipping {
    cursor: pointer;
}
.billing {
    cursor: pointer;
}
.payment {
    cursor: pointer;
}
.forms-inputs>div {
    transition: all 0.5s;
}
.violet-color {
    color: #5A1094;
}
.input-invalid {
    background: rgba(248, 231, 28, 0.07);
}
.input-field {
    position: relative;
}
.input-message.show {
    opacity: 1;
    visibility: visible;
}
.input-message {
    position: absolute;
    top: -25px;
    left: -14px;
    background: #FFFFFF;
    border: 1px solid rgba(222, 220, 220, 0.695907);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    font-family: "HelveticaNeueMedium";
    font-size: 13px;
    line-height: 16px;
    color: #D0021B;
    border-radius: 5px;
    padding: 7px 12px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.input-message:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(222, 220, 220, 0.695907);
    position: absolute;
    transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
    background: white;
    left: 40px;
}
.visa {
    position: absolute;
    right: 9px;
    top: 40%;
    opacity: 0;
    visibility: hidden;
}
.mast {
    position: absolute;
    right: 9px;
    top: 40%;
    opacity: 0;
    visibility: hidden;
}
.amex {
    position: absolute;
    right: 9px;
    top: 40%;
    opacity: 0;
    visibility: hidden;
}
.visiblecard {
    opacity: 1;
    visibility: visible;
}
.form-item {
    padding: 0px 25px;
}
.shipping-country {
    margin-top: 20px;
}
.p {
    display: flex;
}
.cit {
    margin-top: 20px;
    position: relative;
}
.z {
    display: flex;
    margin-top: 15px;
}
.z2 {
    display: flex;
    margin-top: 15px;
}
.bill-city {
    position: relative;
}
.formhid {
    opacity: 0;
    visibility: hidden;
}
.thank {
    width: 50%;
    min-height: 85vh;
    position: absolute;
    top: 20px;
    left: 6%;
    opacity: 0;
    visibility: hidden;
}
.thank-vis {
    opacity: 1;
    visibility: visible;
}
option {
    color: #6B6B6B;
}
select {
    color: #6B6B6B;
}
[data-form]:not(:last-of-type)::after {
    content: "";
    background: url("img/Group2.png") no-repeat center;
    background-size: 100%;
    width: 12px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.footer-text {
    font-family: Helvetica Neue;
    font-size: 11px;
    line-height: 12px;
    color: #9C9C9C;
    margin-left: 80px;
    margin-top: 135px;
}
@media screen and (max-width: 730px) {
    .magazine {
        display: none;
    }
    .container {
  min-width: 400px;
    }
    .small-container {
        width: 100%;
    }
    .header {
        width: 70%;
    }
}